body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: blueviolet;
  padding: 20px 0;
  .box {
    display: flex;
    justify-content: space-between;

    .title {
      .icon {
        margin-right: 20px;
      }
      .text {
        color: white;
        font-size: 32px;
        font-weight: 600;
      }
      display: flex;
      align-items: center;
    }
  }
}

.form {
  .box {
    margin: 0 auto;
    max-width: 500px;

    .card-action {
      display: flex;
      justify-content: space-between;
    }
  }
}

.tickets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .ticket {
    border: 1px solid black;
    width: 30%;
    margin: 15px 20px;
    padding: 0 15px;
    .header {
      display: flex;
      align-items: center;
      .logo {
        width: 100px;
        height: 100px;
      }
      .title {
        margin-left: 20px;
        font-size: 22px;
        font-weight: 500;
      }
    }
    .departure {
      font-size: 28px;
      display: flex;
      justify-content: space-between;
    }
  }
}
